$page-background: #e9e9fd;
$page-color: white;
$header-color: #9797ff;

$link-color: #3d3dff;
$header-link-color: white;

$button-background: #c6c6f7;
$button-border-color: #7474f1;
$button-hover-color: #8d8df8;
$button-active-color: #7474f1;

$contact-button-hover: #d1d0d0;
$contact-phone-color: gray;

$avatar-background: gray;
$avatar-icon-color: white;

$input-border-color: lightblue;
$input-focus-border-color: blue;
