.subtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

.block:not(:last-child) {
    margin-bottom: 10px;
}

.criteriaList {
    margin-bottom: 5px;
}

.levelOneList {
    margin-left: 20px;
}

.levelTwoList {
    margin-left: 40px;
}
