.editForm {
    margin-bottom: 10px;

    input {
        margin-bottom: 10px;
        min-width: 300px;
    }

    .buttons {
        button:not(:last-child) {
            margin-right: 10px;
        }

        .fileInput {
            display: none;
        }
    }
}
